*{
    padding: 0;
    margin: 0;
  }
  
  .PassApp{
  /* background-color: rgb(70, 212, 255); */
  background: linear-gradient(-45deg, #0622dc, #e560dc, #ffb374, #ed3333, #d840b6);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 400% 400%;
  animation: bg 12s ease infinite; /* Change '5s' to adjust animation duration */
  
  }
  @keyframes bg {
  0% {   background-position:0% 50% ; }
  
  50% {  background-position:100% 100% ; }
  
  100% { background-position:0% 50% ; }
  }
  
  .container{
    height:auto;
    width: auto;
    background-color: rgb(0, 0, 103); 
    backdrop-filter: blur(100px);
    color: white;
    border-radius: 3vmin;
    box-shadow: 0px 0px 15px 0px white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin 4.2vmin 4.2vmin;
  
  
  }
  h2{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
    padding:1.5vmin 1vmin 4vmin;
    text-decoration: underline;
    text-underline-offset: 1.5vmin;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  .outputBox{
    display: flex;
    justify-content: center;
    height: 30px;
  }
  .outputBox input{
    flex-basis: 80%;
    padding-left:10px ;
    border: none;
  }
  
  .outputBox button{
    flex-basis: 20%;
  }
  
  .allInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0px ;
  }
  
  button{
    background-color: #0622dc;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .numinp{
    border: none;
    cursor: pointer;
    height: 25px;
    width: 9vmin;
    padding-left: 7px;
  }